<div class="card border-primary mb-3">
    <div class="card-header">Personas</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Lista Personas</h5>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas">
                    <td>{{persona.id}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                    <td><button name="eliminar" (click)="delete(persona)"
                    class="btn btn-danger">Eliminar</button>
                    <button name="editar" [routerLink]="['/insertar',persona.id]"
                    class="btn btn-primary">editar</button></td>
                </tr>
            </tbody>

        </table>

    </div>
</div>
